.top {background-color: rgb(32, 32, 32);
     color: rgb(231, 230, 230);
    margin: 0} 

nav {margin: 0;
    justify-content: center;
    display: flex;
    margin: auto;
    top: 0;
    gap: 10px;
    background-color: rgb(24, 24, 24);
    height: 40px;
    padding: 10px 5% 10px 5%;
    border-bottom: solid 1px #424242;
}


.menu {margin-bottom: 10px;
    width: 30%;
    max-width: 150px;
    padding: 10px 20px 30px 20px;
    background-color: rgb(24, 24, 24);    
    align-items: center;
    border: none;
}

a {text-decoration: none;
    color: white;}


.board  {background-color: rgb(24, 24, 24);
    align-items: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px; 
    width: 70%;
    max-width: 500px;
    border-radius: 10px;
}

.topbar  {margin: 0px;
        display: grid;
        top: 0;
        background-color: rgb(24, 24, 24);
        height: 40px;
        padding: 0px 5% 10px 5%;
        border-bottom: solid 1px #424242;}

.topbar h1 {
    margin: 0;
    padding-left: 10%;
}

.record {background-color:rgb(24, 24, 24);
        margin: auto;
        width: 80%;
        padding: 5px;
        border-radius: 10px;
        max-width: 500px;
        align-items: center}

.record h2 {margin: 0;
            padding-left: 10%;}