<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>家計簿</title>
  </head>
  
  <body class="top">

    <nav> 
      <a class="menu" href="/">＋ 入力</a> 
      <a class="menu" href="/calendar">□ カレンダー</a>
      <a class="menu" href="/graph">◔ グラフ</a>
    </nav>
    
        <div class="record">
      <h2>記録</h2>
      <ul>
      {% for transaction in transactions %}
        <li>{{ transaction[4] }} {{ transaction[2] }} : {{ transaction[1]}}円 {{ transaction[3] }}</li>
      {% endfor %}
      </ul>

      <p>合計: {{ total }}円</p>
    </div>

    <div>
      <form method="get">
        <label for="month">月</label>
        <input
          id="month"
          name="month"
          type="month"
          value="{{ month }}"
        >
        <button type="submit">表示</button>
      </form>

      <p>{{month}}の合計:{{month_total}}</p>
    </div>

  </body>
</html>