<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>家計簿</title>
  </head>
  
  <body class="top">

    <nav> 
      <a class="menu" href="/">＋ 入力</a> 
      <a class="menu" href="/calendar">□ カレンダー</a>
      <a class="menu" href="/graph">◔ グラフ</a>
    </nav>
    
    <div class="record">
      <form method="get">
        <input
          id="month"
          name="month"
          type="month"
          value="{{ month }}"
        >
        <button type="submit">表示</button>
      </form>

      <div class="score-head">
        <p class="score-head-expense">支出<br> {{ "{:,}".format(expense_total) }} 円</p>
        <p class="score-head-income">収入<br>{{ "{:,}".format(income_total) }} 円</p>
        <p >収支<br> {{ "{:,}".format(month_total) }} 円</p>
      </div>

      <div class="calendar-tabs">
        
        <label>
          <input type="radio"
          name="or_income"
          value="0"
          checked>
          </input>
          <span>支出</span>
        </label>
        
        <label>
          <input type="radio"
          name="or_income"
          value="1"
          checked>
          </input>
          <span>収入</span>
        </label>
      
      </div>
      <ul class="score">
        {% for transaction in month_record %}
          {% if loop.first or transaction[3] != loop.previtem[3] %}
            <li class="score-date">
              {{ transaction[3]}}
            </li>
          {% endif %}
            <li class="score-row">
              <p class="score-category">{{ transaction[2] }}</p>
              <p class="score-memo">{{ transaction[4] }}</p>
              <p class="score-amount">{{ "{:,}".format(transaction[1]) }}円</p>          
            </li>


        {% else %}
          <li>この月の記録はありません</li>
        {% endfor %}
      </ul>
    </div>

  </body>
</html>
