<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>家計簿</title>
  </head>
  
  <body class="top">

    <nav> 
      <a class="menu" href="/">＋ 入力</a> 
      <a class="menu" href="/calendar">□ カレンダー</a>
      <a class="menu" href="/graph">◔ グラフ</a>
    </nav>
    
    <div class="record">
      <form method="get">
        <input
          id="month"
          name="month"
          type="month"
          value="{{ month }}"
        >
        <button type="submit">表示</button>
      </form>

      <div class="score-head">
        <p>収入<br>{{ income_total }} 円</p>
        <p>支出<br> {{ expense_total }} 円</p>
        <p class="balance">収支<br> {{ month_total }} 円</p>
      </div>

    


      <ul class="score">
        {% for transaction in month_record %}
          <li>
            {{ transaction[2] }}
            {{ transaction[4] }}：
            {{ transaction[1] }}円
          </li>
        {% else %}
          <li>この月の記録はありません</li>
        {% endfor %}
      </ul>
    </div>

  </body>
</html>
