<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>記録を編集</title>
  </head>
  
  <body class="top input-page">
    <header class="header">編集ページ</header>

    <nav> 
      <a class="menu" href="/">＋ 入力</a> 
      <a class="menu" href="/calendar">□ カレンダー</a>
      <a class="menu" href="/graph">◔ グラフ</a>
    </nav>

    {% include "_transaction_form.html" %}

    <form
        class="delete-form"
        method="post"
        action="/transactions/{{ transaction_id }}/delete"
    >
        <input name="month" type="hidden" value="{{ form_data.date[:7] }}">
        <button class="send-button delete-button" type="submit">削除</button>
    </form>    

    <script src="/static/script.js"></script>
  </body>
</html>
