<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>家計簿</title>
  </head>
  
  <body class="top">
    <nav> 
      <a class="menu" href="/">＋ 入力</a> 
      <a class="menu" href="/calendar">□ カレンダー</a>
      <a class="menu" href="/graph">◔ グラフ</a>
    </nav>
    


    
    <main class="record">
      
      <form method="get">
        <input
          id="month"
          name="month"
          type="month"
          value="{{ month }}"
          required
        >
        <button type="submit">表示</button>
      </form>

      <div class="calendar-tabs" id="calendar-tabs">
        
        <label>
          <input type="radio"
          name="graph_type"
          value="0"
          checked>
          </input>
          <span>支出</span>
        </label>
        
        <label>
          <input type="radio"
          name="graph_type"
          value="1"
          >
          </input>
          <span>収入</span>
        </label>
      </div>

      <!-- グラフ表示 -->
      <!-- 支出グラフ -->
      <section class="graph-panel" data-is-income="0">
        <h1>{{ month }}のカテゴリー別支出</h1>
      
        {% if expense_records %}
          <div class="pie-chart-container">
            <div class="pie-chart"></div>
            <div class="pie-legend"></div>
          </div>

          <script class="pie-data" type="application/json">
            {{ expense_records | tojson }}
          </script>
        {% else %}
          <p>この月の支出記録はありません</p>
        {% endif %}
      </section>

      <!-- 収入グラフ -->
      <section class="graph-panel" data-is-income="1" hidden>
        <h1>{{ month }}のカテゴリー別収入</h1>

        {% if income_records %}
          <div class="pie-chart-container">
            <div class="pie-chart"></div>
            <ul class="pie-legend" ></ul>
          </div>

          <script class="pie-data" type="application/json">
            {{ income_records | tojson }}
          </script>
        {% else %}
          <p>この月の収入記録はありません</p>
        {% endif %}
      </section>

    </main>
    
    <script src="/static/script.js"></script>
  
  </body>
</html>
