<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>家計簿</title>
  </head>
  
  <body class="top">


    <nav> 
      <a class="menu" href="/">＋ 入力</a> 
      <a class="menu" href="/calendar">□ カレンダー</a>
      <a class="menu" href="/graph">◔ グラフ</a>
    </nav>
    


    <form class="board" method="post">

      <div class="tabs">
        <label>
          <input type="radio"
            name="is_income"
            value="0"
            checked>
          <span>支出</span>
        </label>

        <label>
          <input type="radio"
            name="is_income"
            value="1">
          <span>収入</span>
        </label>
      </div>
        
      <div>
        <label for="date">日付</label>
        <input
          class="input"
          id="date"
          name="date"
          type="date"
          required
        >
      </div>

      <div>
        <label for="memo">メモ</label>
        <input class="input" id="memo" name="memo" type="text" required>
      </div>
      
      <div class="amount">
        <label for="amount">金額</label>
        <div class="amount-input">
          <input
            class="input"
            id="amount"
            name="amount"
            type="number"
            inputmode="numeric"
            min="1"
            step="1"
            required
          >
          <button class="add-tax" type="button" data-tax-rate="1.08">8%</button>
          <button class="add-tax" type="button" data-tax-rate="1.1">10%</button>
        </div>
      </div>


      <div class="category-list">
        <label class="category-button">
          <input type="radio" name="category" value="食費" required>
          <span>食費</span>
        </label>

        <label class="category-button">
          <input type="radio" name="category" value="日用品" required>
          <span>日用品</span>
        </label>
        
        <label class="category-button">
          <input type="radio" name="category" value="衣服" required>
          <span>衣服</span>
        </label>
        
        <label class="category-button">
          <input type="radio" name="category" value="交際費" required>
          <span>交際費</span>
        </label>
        
        <label class="category-button">
          <input type="radio" name="category" value="嗜好品" required>
          <span>嗜好品</span>
        </label>

        <label class="category-button">
          <input type="radio" name="category" value="ガソリン代" required>
          <span>ガソリン代</span>
        </label>

        <label class="category-button">
          <input type="radio" name="category" value="ガジェット" required>
          <span>ガジェット</span>
        </label>

        <label class="category-button">
          <input type="radio" name="category" value="公共" required>
          <span>公共</span>
        </label>

        <label class="category-button">
          <input type="radio" name="category" value="美容" required>
          <span>美容</span>
        </label>

        <label class="category-button">
          <input type="radio" name="category" value="医療費" required>
          <span>医療費</span>
        </label>

        <label class="category-button">
          <input type="radio" name="category" value="交通費" required>
          <span>交通費</span>
        </label>

        <label class="category-button">
          <input type="radio" name="category" value="車" required>
          <span>車</span>
        </label>

      </div>
        

      <button type="submit">登録</button>



    
    </form>
  
    <script src="/static/script.js"></script>
  </body>
</html>
